.phototable {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    height: 70vh;
    margin: 10px 5px;
    width: 99.1%;
    overflow: scroll;
    overflow-x: hidden;
}

.photoContainer {
    overflow: hidden;
    width: 500px;
}

.photoContainer > img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.photo {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
}

.photo > button {
    width: 200px;
    margin-top: 10px;
}

.photo > span {
    width: 500px;
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}